#bme-server-panel{
    padding-left: 30px;
}
#bme-server-panel p{
    line-height: 1;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px;
    margin-top: 5px;
}
#bme-server-panel > div {
    display: flex;
    gap: 10px;
    
    margin-bottom: 10px;
}

#bme-server-panel img {
    width: 30px;
    height: 30px;
    transition: 0.2 all;
    border-radius: 5px;
    cursor: pointer;
}
#bme-server-panel img:hover {
    background: #ffffff20;
}
#bme-server-panel img:active {
    background: #9c9c9c60;
}
.offline p{
    color: #b4b4b4 !important;
}