#bme-settings-button{
    width: 45px;
    height: 45px;
    
    margin-left: auto;
    border-radius: 5px;
    transition: 200ms;
    cursor: pointer;
}
#bme-settings-button:hover{
    background: #ffffff30;
}
#bme-settings-button:active{
    background: #ffffff60;
}   
#bme-settings-background {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background: #00000080;
    z-index: 10000;

    display: flex;
    align-items: center;
    justify-content: center;
}

#bme-settings-page {
    width: 910px;
    height: 610px;
    background: #222222;
    border: 5px solid #ffffff;
    border-radius: 5px;

    display: flex;
}

#bme-settings-menu {
    width: 200px;
    border-right: 2px solid #ffffff;
    height: 600px;

    overflow-y: scroll;
}

#bme-settings-menu::-webkit-scrollbar {
    display: none;
}

.bme-settings-menu-point {
    width: 198px;
    height: 40px;
    padding-left: 10px;
    align-content: center;
    font-size: 22px;
    user-select: none;
    cursor: pointer;

    transition: 100ms;
}

.bme-settings-menu-point:hover {
    background: #ffffff20;
}

#active-setting-menu-point,
.bme-settings-menu-point:active {
    background: #ffffff60;
}

#bme-settings-body {
    width: 700px;
    height: 600px;
    overflow-y: scroll;

    padding-left: 20px;
}

#bme-settings-body::-webkit-scrollbar {
    display: none;
}

.bme-settings-row {
    margin-top: 10px;
    margin-bottom: 5px;
}


.bme-settings-row h3 {
    margin: 0 !important;
}

.bme-settings-row>p {
    font-size: 14px;
}

.bme-settings-row>div {
    display: flex;
    gap: 10px;
    align-items: center;
}

.bme-settings-bm-info-row {
    margin-bottom: 10px;
    margin-top: 20px;
}

.bme-settings-bm-info-row > h4 {
    margin-bottom: 0 !important;
}
.bme-settings-bm-info-row > p {
    font-size: 16px;
    padding-left: 20px;
    margin-top: 10px;
    margin-bottom: 0px !important   ;
}
.bme-settings-bm-info-row > div{
    margin-left: 20px;
    display: flex;
    align-items: center;
}


.bme-settings-color-div{
    padding: 10px 0px;
}
.bme-settings-color-div input:active{
outline: none;
}
.bme-settings-color-div input{
    background: #00000040;
    border: 2px solid #000000bf;
    margin: 0px 10px;
    width: 180px;
    justify-content: center;
    transition: 150ms;
}
.bme-success-input{
    border-color: #55FF55 !important;
    background-color: #55FF5580 !important;
}
.bme-error-input{
    border-color: #ff5555 !important;
    background-color: #ff555580 !important;
}
.bme-red-highlight {
    background: #ff555560;
    border-color: #ff5555;
}

.bme-yellow-highlight {
    background: #ffff0060;
    border-color: #ffff00;
}

.bme-green-highlight {
    background: #55FF5560;
    border-color: #55FF55;
}
.bme-color-switch-wrapper{
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bme-color-switch-input{
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin: 0 !important;
}
#bme-reset-button-wrapper{
    width: 100%;
    height: 200px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
#bme-reset-button-wrapper button{
    width: 250px;
    height: 60px;
    font-size: 20px;
    font-weight: 600;
    
    background-color: #ff3333;
    border: none;
    border-radius: 30px;
    outline: none;
    cursor: pointer;
    transition: 150ms;
}
#bme-reset-button-wrapper button:hover{
    background-color: #ff3333cc;
}
#bme-reset-button-wrapper button:active{
    background-color: #ff333399;
    transform: scale(0.98);
}

.bme-button-green-background{
    background: #2db32d !important;
}










/**
    Generated by ChatGPT 2025. 10. 03.
*/
.bme-toggle-input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    width: 44px;
    height: 25px;
    background: #FF5555;
    border: 1px solid #FF5555;
    border-radius: 999px;
    position: relative;
    cursor: pointer;
    outline: none;
    vertical-align: middle;
    transition: background .2s ease, border-color .2s ease;
}

.bme-toggle-input[type="checkbox"]::after {
    content: "";
    position: absolute;
    top: 1px;
    left: 2px;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 50%;
    transition: transform .22s ease;
}

.bme-toggle-input[type="checkbox"]:checked {
    background: #55FF55;
    border-color: #55FF55;
}

.bme-toggle-input[type="checkbox"]:checked::after {
    transform: translateX(20px);
}


.bme-toggle-input[type="checkbox"]:active::after {
    transform: translateX(0) scale(.96);
}

.bme-toggle-input[type="checkbox"]:active:checked::after {
    transform: translateX(20px) scale(.96);
}

.bme-toggle-input[type="checkbox"]:disabled {
    cursor: not-allowed;
    opacity: .6;
}

@media (prefers-reduced-motion: reduce) {
    .bme-toggle-input[type="checkbox"],
    .bme-toggle-input[type="checkbox"]::after {
        transition: none;
    }
}