body {
    overflow-x: hidden;
}

.bme-sidebar {
    width: 340px;
    max-width: 360px;

    height: fit-content;

    background: #222;

    position: absolute;
    top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.bme-sidebar>div:empty {
    display: none;
}

.bme-sidebar-left {
    right: calc(50% + 600px);
}

.bme-sidebar-right {
    left: calc(50% + 600px);
}



.bme-friendlist-header {
    display: flex;
    padding: 15px 15px 5px 15px;
}

.bme-friendlist-header h1 {
    font-size: 23px;
    line-height: 1;
    margin: 0;
}

.bme-friendlist-body {
    display: flex;
    flex-direction: column;

    gap: 3px;
}

.player-container {
    display: flex;
    max-height: 60px;

    gap: 3px;

    background: #151515;

    border-radius: 3px;
    border-left: 3px solid #151515;
    border-right: 3px solid #151515;
}

.player-container p {
    margin: 0;
}

.player-container>img {
    width: 60px;
    height: 60px;

    border: 3px solid #434343;
}

.player-details {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding-left: 3px;
    max-width: 205px;
}

.player-bm-button {
    width: 30px;
    height: 60px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #0b0b0b;
    z-index: 10;
}

.player-bm-button>img {
    width: 30px !important;
    height: 30px !important;
}

.bme-ban-gray {
    background: #737373;
}

.bme-ban-green {
    background: #169500;
}

.bme-ban-red {
    background: #7c1313;
}

.player-warning-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    background: #e1c116;
}

.player-warning-wrapper>img {
    width: 28px;
    height: 28px;
}

.ban-data-wrapper {
    position: relative;
    width: 30px;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ban-data-wrapper>div:only-child {
    height: 60px !important;
    width: 30px;
}

.ban-data-wrapper>div {
    max-width: 30px;
    width: 100%;
    max-height: 60px;
    height: 100%;
}

.ban-data {
    position: relative;
    z-index: 10;

    width: inherit;
    height: inherit;

    display: flex;
    justify-content: center;
    align-items: center;
}

.ban-details>p {
    width: 200px !important;
    font-size: 14px !important;
}

.ban-data>img {
    width: 25px;
    height: 25px;
}

.ban-details {
    position: absolute;
    top: 2.5px;
    left: 0;
    width: 220px;
    height: 55px;

    background: #8e2121;
    color: white;
    font-size: 16px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    padding: 0 10px;

    transform: translateX(30px);
    opacity: 0;
    pointer-events: none;

    transition: all 0.2s ease-out;
}

.ban-data-wrapper:hover .ban-details {
    transform: translateX(-220px);
    opacity: 1;
    pointer-events: auto;
}

.bme-sidebar-bans-wrapper,
.bme-team-header-wrapper {
    display: flex;
    height: 40px;
    align-items: center;

    padding: 0px 10px;
    gap: 10px;
}

.bme-sidebar-bans-header>h1,
.bme-team-header-wrapper>h1,
.bme-team-header-wrapper>h2,
.player-details>p,
.bme-team-header p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bme-team-header p {
    padding-left: 15px;
    padding-bottom: 5px;
    margin: 0;
}

.bme-sidebar-bans-header>h1,
.bme-team-header-wrapper h2,
.bme-team-header-wrapper h1,
.bme-team-header-wrapper p {
    line-height: 1;
    margin: 0;
}

.bme-sidebar-bans-wrapper>h1,
.bme-team-header-wrapper h1 {
    font-size: 23px;
}

.bme-team-header-wrapper h2 {
    font-size: 20px;
}

.bme-team-header-wrapper>img {
    width: 36px;
    height: 36px;

    padding: 3px 3px;
    margin-top: 4px;

    border-radius: 5px;
    cursor: pointer;
    transition: 75ms;
}

.bme-team-header-wrapper>img:hover {
    background: #ffffff20;
}

.bme-team-header-wrapper>img:active {
    background: #ffffff40;
}

.bme-team-body {
    display: flex;
    flex-direction: column;
    gap: 3px;

    padding-bottom: 3px;
}

.bme-public-bans-body>p,
.bme-friendlist-body>p,
.bme-team-body>p {
    padding: 5px 25px;
    font-size: 18px;
    line-height: 1;
    margin: 0;
}

.bme-public-bans-body p {
    line-height: 1;
}

.bme-public-bans-body {
    display: flex;
    flex-direction: column;

    gap: 20px;
    margin-bottom: 10px;
}

.bme-sidebar-ban-element {
    display: flex;
    flex-direction: column;

    gap: 3px;
    margin-left: 25px;
}

.bme-sidebar-ban-element p {
    font-size: 15px;
    margin: 0;
}

.bme-sidebar-ban-reason {
    font-size: 18px !important;
    line-height: 1.1 !important;
    overflow: hidden;
    text-overflow: ellipsis;
    line-clamp: 2;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}